<div class="account section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-form border p-5">
                    <div *ngIf="show_reset">
                        <app-password-reset [code]="code"></app-password-reset>
                    </div>
                    <div *ngIf="!show_reset">
                        <div class="text-center heading">
                            <h3 class="mb-2 h2">Khôi phục lại mật khẩu</h3>
                            <p class="lead">Nhập email của bạn. Mã sẽ được gửi đến email bạn. Điền email vào ô ở dưới
                                để
                                tiếp tục!</p>
                        </div>

                        <form action="#" [formGroup]="myForm">
                            <div class="form-group mb-4" *ngIf="!show">
                                <label for="#">Nhập email của bạn</label>
                                <input type="email" class="form-control" placeholder="Email"
                                    [class.is-invalid]="primEmail?.invalid && primEmail?.touched" class="form-control"
                                    formControlName="primaryEmail">
                                <div *ngIf="(primEmail?.invalid && primEmail?.touched) || primEmail?.dirty">
                                    <small *ngIf="primEmail?.errors?.required" class="text-danger">Email không được để
                                        trống!</small>
                                    <small *ngIf="primEmail?.errors?.pattern" class="text-danger">Email không đúng định
                                        dạng!</small>
                                </div>
                            </div>
                            <div class="form-group mb-4" *ngIf="show">
                                <div class="alert alert-success text-center">
                                    <strong>
                                        <p *ngIf="!alert">Mã đã được gửi tới email của bạn</p>
                                        <p *ngIf="alert">Mã không đúng!</p>
                                    </strong>
                                </div>
                                <label for="#">Nhập mã</label>
                                <input type="text" formControlName="token" class="form-control" placeholder="Code">
                            </div>

                            <button [disabled]="myForm.invalid" type="submit" class="btn btn-main mt-3 btn-block"
                                *ngIf="!show" (click)="request()">Gửi</button>
                            <button type="submit" class="btn btn-main mt-3 btn-block" *ngIf="show"
                                (click)="redirect()">Xác nhận</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>