.search-shop {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px
}

.search-shop-input {
    border: 0;
    outline: 0;
    /* background: none; */
}

.search-shop .search-shop-input {
    padding: 0 10px;
    width: 100%;
    font-size: 19px;
    color: black;
}

.search-shop-icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 48px;
    position: relative;
    border-radius: 5px;
    /* background-color: #536bf6; */
}

.search-shop-icon:hover {
    color: black !important
}

.active-button-size {
    background-color: #fb5c42;
    border: 2px solid #fb5c42;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}