<div class="container">
    <section>
        <div class="text-center">
            <hr>
            <h1>Về Cửa hàng</h1>
            <hr>
        </div>
        <p class="">Đây là project nhỏ, được tạo cho đồ án tốt nghiệp. Cửa hàng chuyên bán giày thời trang
            cho nam và nữ, từ các loại giày như Oxfords, Sneakers, ...</p>
        <div class="row">
            <div class="col-5"><img src="assets\images\adsv.jpg" width="100%" height="300px"></div>
            <div class="col-5" style="box-sizing:border-box;">
                <div>
                    <strong>Liên hệ</strong>
                </div>
                <div>
                    Email: hotronnn24.7@gmail.com 
                </div>

            </div>
        </div>

    </section>
</div>