<div class="row">
    <div class="col-3">
        <div class="card p-4 m-4">
            <h1><strong>{{count_prods}}</strong></h1>
            <p>Tổng sản phẩm</p>
        </div>
    </div>
    <div class="col-3">
        <div class="card p-4 m-4">
            <h1><strong>{{count_users}}</strong></h1>
            <p>Người dùng</p>    
        </div>
    </div>
    <div class="col-3">
        <div class="card p-4 m-4">
            <h1><strong>{{count_orders}}</strong></h1>
            <p>Đơn hàng đã hoàn thành</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="card p-4 m-4">
            <h1><strong>{{count_prods_OOS}}</strong></h1>
            <p>Sản phẩm hết hàng</p>
        </div>
    </div>
    <div class="col-3">
        <div class="card p-4 m-4">
            <h1><strong>{{count_orders_Unfinish}}</strong></h1>
            <p>Đơn hàng chưa xử lý</p>
        </div>
    </div>
    <div class="col-3">
        <div class="card p-4 m-4">
            <h1><strong>{{sum_total | number}}đ</strong></h1>
            <p>Tổng thu nhập</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="card p-4 m-4">
            <h1><strong>{{sum_monthly| number}}đ</strong></h1>
            <p>Thu nhập tháng {{month}} </p>
        </div>
    </div>
</div>