<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 Lỗi</h2>
            <div class="error-details">
                Trang bạn tìm không có! Quay lại hoặc về trang chủ
            </div>
            <div class="error-actions">
                <a routerLink="/" class="btn btn-primary btn-lg" id="error-btn"><span class="glyphicon glyphicon-home"></span>
                    Về trang chủ </a>
            </div>
        </div>
    </div>
</div>